<% if !user_signed_in? %>
  <section class="banner">
    <div class="title">
      <h1 class="title-text">DiveTank</h1>
    </div>

    <form class="row login" action="index.html" method="post">
      <div class="row tagline">
        <h1 class="tagline-text">Log and share your dives.</h1>
      </div>

      <div class="sign-up">
        <a href="/users/sign_up" class="button radius alert home-button">Sign Up</a>
        <a href="/users/sign_in" class="button radius secondary home-button">Sign In</a>
      </div>
    </form>
  </section>
<% else %>
  <div id="react-index">
  </div>
<% end %>
