/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require dropzone/dropzone
 */
 body {
   background-color: #F0F0F0;
 }
 h1 {
   font-family: 'Ubuntu', sans-serif;
 }
.banner {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}
.home-button {
  margin: 10px;
}
.block {
  height: 600px;
}
.title {
  width: 100%;
  height: 90px;
  margin: 10px 0px 0px 35px;
  position: absolute;
}
.topbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  height: 90px;
  padding: 20px;
  background-color: #3D577A;
  z-index: 2;
}

.divetank {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title-text {
  margin-bottom: 0px;
  font-family: 'Bevan', cursive;
  text-align: left;
  font-size: 50px;
  color: white;
  transition: color 0.5s ease;
}
.title-text:hover {
  color: #c3ebf9;
}
.top-text-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.top-button-right {
  font-weight: 200;
  text-align: right;
  color: white;
  margin-bottom: 0px;
  transition: color 0.5s ease;
}
.top-button-right:hover {
  color: #c3ebf9;
}
.button.hollow {
  font-size: 18px;
  color: white;
  border-color: white;
  margin-bottom: 0px;
}
.button.hollow:hover {
  background-color: white;
  border-color: white;
  margin-bottom: 0px;
}
.tagline {
  display: block;
}
.tagline-text {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
}
.login {
  width: 50%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sign-up {
  text-align: center;
}
.button {
  width: 150px;
}
.devise-form, .form {
  width: 40%;
  margin: 10px auto;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.dropzone {
  width: 40%;
  margin: 15px auto;
  border: 2px dashed rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px;
}
.card {
  border-radius: 5px;
  text-align: center;
  padding: 0px;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.profile {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  margin: 50px auto;
  transition: all 0.3s ease;
}
.profile:hover {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.prof-pic {
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  padding: 0px 0px 0px 0px ;
}
.prof-data {
  height: inherit;
  padding: 20px 0 0 40px;
}
.header-pic {
  width: inherit;
}
.diver-info {
  height: inherit;
}
.dive-number {
  text-align: right;
  padding-right: 50px;
}
.dive-number-show {
  text-align: right;
}
.weather-conditions {
  border-bottom: 1px solid;
}
.show-header {
  margin-bottom: 20px;
}
hr {
  width: 90%;
  margin-bottom: 30px;
}
.chart {
  width: inherit;
  margin: auto;
  margin-bottom: 25px;
  background-color: white;
  transition: all 0.3s ease;
}
.chart:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.info-group {
  padding: 0px 90px;
}
.menu {
  height: 50px;
}
.nav-button {
  width: 130px;
  text-align: center;
}
.dive-profile {
  margin: 50px auto;
  background-color: white;
  padding: 15px;
}
.certs {
  margin-top: 40px;
  border-bottom: 2px solid;
}
.photo-list {
  margin-top: 70px;
  margin-bottom: 70px;
}
.add-media {
  color: white;
  background-color: #6194bc;
  height: 60px;
  margin-bottom: 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.add-media:hover {
  background-color: #3D577A;
}
.add-media-text {
  margin-bottom: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
  margin: 30px auto;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-url {
  width: 50%;
  margin: auto;
}
.media-submit {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.media-submit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.react-appear {
  opacity: 0.01;
}

.react-appear.react-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.alert-box {
  margin: 0px 0px 0px 0px;
  padding: 1.3rem;
  border-width: 0 0 0 0.35rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
  .alert-box.radius {
    border-radius: 0.6rem; }
  .alert-box.primary {
    border-left-color: #446cb3;
    background-color: #8da6d4; }
    .alert-box.primary strong {
      color: #446cb3; }
  .alert-box.secondary {
    border-left-color: #adb2bd;
    background-color: #ced1d7; }
    .alert-box.secondary strong {
      color: #adb2bd; }
  .alert-box.info {
    border-left-color: #89c4f4;
    background-color: #b8dcf8; }
    .alert-box.info strong {
      color: #89c4f4; }
  .alert-box.alert {
    border-left-color: #f22613;
    background-color: #f77d71; }
    .alert-box.alert strong {
      color: #f22613; }
  .alert-box.success {
    border-left-color: #87d37c;
    background-color: #b7e5b0; }
    .alert-box.success strong {
      color: #87d37c; }
  .alert-box.warning {
    border-left-color: #f89406;
    background-color: #fbbf69; }
    .alert-box.warning strong {
      color: #f89406; }
