<% if @path != '/' %>
  <% if !current_user %>
    <div class='topbar'>
      <div class="column small-3 divetank">
        <a href="/">
          <h1 class="title-text">divetank</h1>
        </a>
      </div>
    </div>
  <% else %>
    <div data-sticky-container>
      <div class='row topbar' data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="column small-3 divetank">
          <a href="/">
            <h1 class="title-text">divetank</h1>
          </a>
        </div>
        <div class='column small-6 top-text-container'>
          <a href="/dives/new" class="hollow button">Log a Dive</a>
        </div>
        <div class='column small-3 top-text-container'>
          <a href='/users/sign_out' data-method="delete">
            <h4 class='top-button-right'><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></h4>
          </a>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
